* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

img {
    border-radius: 30px;
    margin-top: 20px;
    transition: all 500ms ease;
}

.img:hover {
    transform: scale(107%);
    border: 3px solid blue;
    border-radius: 30px;

}

.info {
    display: none;  
    /* display: flex; */
    cursor: pointer;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-right: 830px;
padding: 15px 20px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid yellow; /* boshlang'ich border */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    animation: borderFlash 1s infinite alternate; /* animatsiya */
    margin-top: 300px;
}
 @keyframes borderFlash {
    0% {
      border-color: yellow;
      box-shadow: 0 0 10px yellow;
    }
    50% {
      border-color: orange;
      box-shadow: 0 0 20px orange;
    }
    100% {
      border-color: gold;
      box-shadow: 0 0 30px gold;
    }
  }

.info img {
    margin-bottom: 20px;
    width: 30px;
    height: 25px;
}